
.tab-butler-input-container {
  height: 50px;
  width: 100%;
  background-color: transparent;
  display: flex;
  gap: 8px;
  align-items: center;

  .search-icon {
    width: 28px;
    height: 28px;
    color: rgba(255, 255, 255, 0.36);
    @media (prefers-color-scheme: light) {
        color: rgba(0, 0, 0, 0.36);
    }
  }

  .tab-butler-input {
    flex: 1;
    width: 100%;
    background-color: transparent;
    // height: 50px;
    border: none;
    /* border: 1px solid rgba(255, 255, 255, 0.36); */
    /* border-radius: 10px; */
    color: #f7fafc; // use #fff instead?
    /* padding-inline: 16px; */
    /* font-size: 16px; */
    font-size: 24px;
    font-weight: 450;
    outline: none;
    /* flex: none; */

    &::placeholder {
      color: rgba(255, 255, 255, 0.36);
    }

    &:focus {
      outline: none;
    }

    @media (prefers-color-scheme: light) {
      color: rgba(0, 0, 0, 0.8);
      &::placeholder {
        color: rgba(0, 0, 0, 0.36);
      }
    }
  }
}