// global styles

*, *::before, *::after {
  box-sizing: border-box !important;
  /* use system font (San Fransisco or Segoe UI) */
}

// svg path {
//   // think about this
//   // makes the icons a litle bit "narrower"
//   stroke-width: 0.7 !important;
// }

:host {
  // does this actually work???
  // just put this in .modal-body?
  /* use system font (San Fransisco or Segoe UI) */

  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: rgba(3, 7, 18, 0.7); // come back to this
  box-sizing: border-box;

}

// do light theme by default