// global styled
* {
  box-sizing: border-box !important;
  /* use system font (San Fransisco or Segoe UI) */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
  letter-spacing: normal !important;
  text-align: left;

  /* think about these */
  /* things look slightly better with these selectors set */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* disable scrollbar for virtualized list */
.virtual-list::-webkit-scrollbar {
  display: none;
}
/* disable scrollbar for firefox */
.virtual-list {
  scrollbar-width: none;
}
