// global styles

*, *::before, *::after {
  box-sizing: border-box !important;
  /* use system font (San Fransisco or Segoe UI) */
}

:host {
  /* use system font (San Fransisco or Segoe UI) */
  // some sites (like reddit) make shadow roots hidden for some reason
  visibility: visible !important;
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  padding-top: 15vh !important;
  // overflow-y: auto !important; // why did I do this
  width: 100% !important;
  height: 100% !important;
  z-index: 999999 !important;
  background-color: rgba(3, 7, 18, 0.7) !important; // come back to this
  box-sizing: border-box !important;

}

// do light theme by default