// put all variables here
// confirm all colors used
$primary_blue: #3182ce;
$primary_white: #fff;
$alternate_white: #f7fafc; // do we still need this?
$secondary_white: #cbd5e0;

$primary_black: rgba(0, 0, 0, 0.8);
$secondary_black: rgba(0, 0, 0, 0.48);

$primary_gray: rgba(255, 255, 255, 0.36);
$primary_dark_gray: rgba(0, 0, 0, 0.36); // where is this realy used?

$dark_modal_bg: rgb(46, 49, 56);
$light_modal_bg: #fff;


$white: #FFFFFF;

$gray-50: #F9FAFB;
$gray-100: #F3F4F6;
$gray-200: #E5E7EB;
$gray-300: #D1D5DB;
$gray-400: #9CA3AF;
$gray-500: #6B7280;
$gray-600: #4B5563;
$gray-700: #374151;
$gray-800: #1F2937;
$gray-900: #111827;

$blue-50: #eff6ff;
$blue-100: #dbeafe;
$blue-200: #bfdbfe;
$blue-300: #93c5fd;
$blue-400: #60a5fa;
$blue-500: #3b82f6;
$blue-600: #2563eb;
$blue-700: #1d4ed8;
$blue-800: #1e40af;
$blue-900: #1e3a8a;

$gold: #fbbf24;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;




