// put all variables here
// confirm all colors used
$primary_blue: #3182ce;
$primary_white: #fff;
$alternate_white: #f7fafc; // do we still need this?
$secondary_white: #cbd5e0;

$primary_black: rgba(0, 0, 0, 0.8);
$secondary_black: rgba(0, 0, 0, 0.48);

$primary_gray: rgba(255, 255, 255, 0.36);
$primary_dark_gray: rgba(0, 0, 0, 0.36); // where is this realy used?

$dark_modal_bg: rgb(46, 49, 56);
$light_modal_bg: #fff;
