@use "../variables" as variables;
@use "./utils";

.bottom-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem 1rem;
  // border-top: 1px solid variables.$gray-200;
  gap: 1rem;
  // @include utils.dark-mode {
  //   border-top: 1px solid variables.$gray-700;
  // }
}

.bottom-bar-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bottom-bar-item-icon-container {
  height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid variables.$gray-200;
  @include utils.dark-mode {
    border: 1px solid variables.$gray-500;
  }
}

.bottom-bar-item-icon {
  height: 0.75rem;
  width: 0.75rem;
}

.bottom-bar-item-text {
  font-weight: variables.$font-weight-semibold;
}

  .bottom-bar-item-icon,
  .bottom-bar-item-text {
    color: variables.$gray-400;
  }


@include utils.dark-mode {
  .bottom-bar-item-icon,
  .bottom-bar-item-text {
    color: variables.$gray-500;
  }
}
