@use "../variables" as variables;

.tab-butler-input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  // height: 50px;
  border: none;
  /* border: 1px solid rgba(255, 255, 255, 0.36); */
  /* border-radius: 10px; */
  // color: #f7fafc; // use #fff instead?
  color: variables.$primary_white;
  /* padding-inline: 16px; */
  /* font-size: 16px; */
  font-size: 24px;
  font-weight: 450;
  outline: none;
  /* flex: none; */

  &::placeholder {
    // color: rgba(255, 255, 255, 0.36);
    color: variables.$primary_gray;
  }

  &:focus {
    outline: none;
  }

  @media (prefers-color-scheme: light) {
    // color: rgba(0, 0, 0, 0.8);
    color: variables.$primary_black;
    &::placeholder {
      // color: rgba(0, 0, 0, 0.36);
      color: variables.$primary_dark_gray;
    }
  }
}
