@use "../variables" as variables;
@use "./utils";

.list-item,
.list-item-selected {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  cursor: pointer;
  overflow: auto;
}

.list-item-text {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 100%;
  flex: 1; // think about this
  min-width: 0; // think about this -> should this be a set value (100px??)
}

.list-item-title,
.list-item-subtitle {
  min-width: 0; // think about this
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.list-item-image,
.list-item-icon,
.list-item-star {
  width: 1.5em;
  height: 1.5em;
}

.list-item-star {
  color: variables.$gold;
}

.list-item-icon {
  color: variables.$gray-400;
  @include utils.dark-mode {
    color: variables.$gray-500;
  }
}

.list-item {
  .list-item-title {
    color: variables.$gray-800;
  }
  .list-item-subtitle {
    color: variables.$gray-500;
  }
  @include utils.dark-mode {
    .list-item-title {
      color: variables.$gray-100;
    }
    .list-item-subtitle {
      color: variables.$gray-400;
    }
  }
}

.list-item-selected {
  background-color: variables.$blue-500;
  .list-item-title {
    color: variables.$gray-50;
  }

  .list-item-subtitle {
    color: variables.$gray-100;
  }
  @include utils.dark-mode {
    background-color: variables.$blue-600;
  }

  .list-item-icon {
    color: variables.$gray-50;
    // @include utils.dark-mode {
    //   color: variables.$gray-50;
    // }
  }
}

.list-item-title {
  font-weight: variables.$font-weight-medium;
}
