// styles for the modal body
@use "../variables" as variables;
.modal-body {
  box-sizing: border-box;
  position: relative;
  //rethink these dimensions
  width: 700px;
  /* was can use viewport units to make is scale to different screeens */
  height: 520px;
  max-height: 520px;
  background-color: variables.$dark_modal_bg;
  border-radius: 8px;
  z-index: 9999999;
  display: flex;
  flex-direction: row;
  /* figure out the best box shadow */
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  @media (prefers-color-scheme: light) {
    background-color: variables.$light_modal_bg;
  }
}
