@use "../variables" as variables;
@use "./utils";

.section {
  background-color: transparent;
  border-top: 1px solid variables.$gray-200;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  // merge media queries

  &-name {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: variables.$gray-400;
    font-weight: variables.$font-weight-medium;
    @include utils.dark-mode {
      color: variables.$gray-500;
    }
  }

  @include utils.dark-mode {
    border-top: 1px solid variables.$gray-700;
  }

  //   &-body {
  //     // put any things needed here
  //   }
}

.section-list {
    height: 100%;
    overflow: auto;
}